<!-- home.ejs code -->

<%- include("includes/head.ejs"); %>
<body>
    <h1>This is the home page 1*7</h1>
    <h3><%= 1*7 %></h3>
    <h4><u><%= "Thala for a reason".toUpperCase() %></u></h4>
    <h5><%= ["Swagat"," Aadab"," Abhinandan"," Abhaar"] %></h5>
    <p>Here we have created an ejs file where we are using HTML right now</p>
    <button>I'm just a button</button>
    <!-- Yahan hmne dynamic html create kra hai -->
</body>