<!-- rolldice.ejs code  -->

<%- include("includes/head.ejs"); %>
<body>
    <h2>Dice gave value - <%= num %></h2>
    <% if(num==6){ %>
        <h3>Nice! Roll Again...</h3>    
    <% } %>
</body>