<!-- home.ejs code -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: chocolate;
            background-color: blanchedalmond;
        }
        h2{
            text-decoration: underline;
        }
        button{
            background-color: chocolate;
            color: black;
            font-weight: 800;
            font-style: italic;
            height: 40px;
            width: auto;
            box-shadow: 2px 2px 4px 4px;
        }
    </style>
</head>
<body>
    <h2>Total number of users are - <%= count %></h2>
    <button>!!!Join us today!!!</button>
</body>
</html>